{{!< default}}


<div id="wrapper">
    <!-- header of the page -->
   
    <!-- promo -->
    <div class="promo portfolio">
        <div class="max-container">
            <div class="img">
                <img src="http://placehold.it/1770x240" alt="image description">
            </div>
            <div class="holder">
                <div class="frame">
                    <div class="box">
                        <div class="heading">
                            <h1>portfolio</h1>
                            <h2>portfolio</h2>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- contain main informative part of the site -->
    <main id="main" role="main">
        <div class="container">
            <div class="row"
                <div class="col-xs-12">
                    <!-- masonry-holder -->
                    <div class="masonry-holder">
                        
                        <ul class="links filter">
                            <li class="active"><a href="#">All</a></li>
                            <li><a href="#" data-filter=".work-p">Photography</a></li>
                            <li><a href="#" data-filter=".work-b">Branding</a></li>
                            <li><a href="#" data-filter=".work-w">Web DesignMotion</a></li>
                            <li><a href="#" data-filter=".work-m">Graphic</a></li>
                            <li><a href="#" data-filter=".work-i">Illustration</a></li>
                        </ul>
                        <!-- masonry -->
              
                        <ul class="masonry" id="masonry-container">
                            {{#foreach posts}}
                            <li class="item work-i work-w work-a">
                                <div class="holder">
                                    <div class="img">
                                        <img alt="image description" src="{{img_url feature_image size=" s"}}">
                                    </div>
                                    <div class="caption">
                                        <div class="c1">
                                            <div class="c2">
                                                <strong class="title">{{title}}</strong>
                                                <p>Branding Identity</p>
                                                <ul class="icons">
                                                    <li><a href="images/img1.jpg" class="lightbox"><i
                                                                class="icon-resize-full-alt"></i>
                                                            <span>resize</span></a></li>
                                                    <li><a href="portfolio-detail.html"><i class="icon-attach"></i>
                                                            <span>attach</span></a></li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </li>
                            {{/foreach}}
                            <li class="item work-m work-p work-a">
                                <div class="holder">
                                    <div class="img">
                                        <img alt="image description" src="http://placehold.it/1150x675">
                                    </div>
                                    <div class="caption">
                                        <div class="c1">
                                            <div class="c2">
                                                <strong class="title">Amber Bottle</strong>
                                                <p>Branding Identity</p>
                                                <ul class="icons">
                                                    <li><a href="images/img1.jpg" class="lightbox"><i
                                                                class="icon-resize-full-alt"></i>
                                                            <span>resize</span></a></li>
                                                    <li><a href="portfolio-detail.html"><i class="icon-attach"></i>
                                                            <span>attach</span></a></li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </li>
                            <li class="item work-i work-b work-a">
                                <div class="holder">
                                    <div class="img">
                                        <img alt="image description" src="http://placehold.it/1150x675">
                                    </div>
                                    <div class="caption">
                                        <div class="c1">
                                            <div class="c2">
                                                <strong class="title">Amber Bottle</strong>
                                                <p>Branding Identity</p>
                                                <ul class="icons">
                                                    <li><a href="images/img1.jpg" class="lightbox"><i
                                                                class="icon-resize-full-alt"></i>
                                                            <span>resize</span></a></li>
                                                    <li><a href="portfolio-detail.html"><i class="icon-attach"></i>
                                                            <span>attach</span></a></li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </li>
                            <li class="item work-w work-p work-a">
                                <div class="holder">
                                    <div class="img">
                                        <img alt="image description" src="http://placehold.it/1150x675">
                                    </div>
                                    <div class="caption">
                                        <div class="c1">
                                            <div class="c2">
                                                <strong class="title">Amber Bottle</strong>
                                                <p>Branding Identity</p>
                                                <ul class="icons">
                                                    <li><a href="images/img1.jpg" class="lightbox"><i
                                                                class="icon-resize-full-alt"></i>
                                                            <span>resize</span></a></li>
                                                    <li><a href="portfolio-detail.html"><i class="icon-attach"></i>
                                                            <span>attach</span></a></li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </li>
                            <li class="item work-i work-b work-a">
                                <div class="holder">
                                    <div class="img">
                                        <img alt="image description" src="http://placehold.it/1150x675">
                                    </div>
                                    <div class="caption">
                                        <div class="c1">
                                            <div class="c2">
                                                <strong class="title">Amber Bottle</strong>
                                                <p>Branding Identity</p>
                                                <ul class="icons">
                                                    <li><a href="images/img1.jpg" class="lightbox"><i
                                                                class="icon-resize-full-alt"></i>
                                                            <span>resize</span></a></li>
                                                    <li><a href="portfolio-detail.html"><i class="icon-attach"></i>
                                                            <span>attach</span></a></li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </li>
                        </ul>
                        <a href="#" class="more">LOAD MORE</a>
                    </div>
                </div>
            </div>
        </div>
    </main>

    