{{!< default}}

<div>
        {{>intro}}
        <!-- Features Area
                ===================================== -->
        <div id="features" class="pt75 mb25">
                <div class="container">
        
                        <!-- title and short description start -->
                        <div class="row">
                                <div class="col-md-12 text-center">
                                        <h1 class="font-size-normal">
                                                Interface Designer
                                                <small>What exactly does one do?</small>
                                                        
                                                <small class="heading heading-solid center-block"></small>
                                        </h1>
                                </div>
        
                                <div class="col-md-8 col-md-offset-2 text-center">
                                        <p class="color-black">
                                                <strong>in·ter·face</strong> | ˈin(t)ərˌfās |
                                                noun
                                                1 a point where two systems, subjects, organizations, etc. meet and interact: 
                                               
                                        </p>
                                </div>
                        </div>
                        <!-- title and short description end -->
        
                        <div class="row mt50">
                                <!-- feature one start -->
                                <div class="col-md-4 col-sm-6 col-xs-12 mb35">
                                        <div class="content-box content-box-center content-box-icon-o">
                                                <span class="icon-mobile color-primary border-primary"></span>
                                                <h5>Design</h5>
                                                <li>Digital Illustrations</li><li>Motion Graphics</li><li>Software Prototyping</li><li>Identity Assets</li><li>Product Mockups</li>
                                        </div>
                                </div>
                                <!-- feature one end -->
        
                                <!-- feature two start -->
                                <div class="col-md-4 col-sm-6 col-xs-12 mb35">
                                        <div class="content-box content-box-center content-box-icon-o">
                                                <span class="icon-documents color-success border-success"></span>
                                                <h5>Develop</h5>
                                                <li>Frontend Software Development</li><li>HTML5</li>
                                        </div>
                                </div>
                                <!-- feature two end -->
        
                                <!-- feature three start -->
                                <div class="col-md-4 col-sm-6 col-xs-12 mb35">
                                        <div class="content-box content-box-center content-box-icon-o">
                                                <span class="icon-basket color-cyan border-cyan"></span>
                                                <h5>Deploy</h5>
                                                <li>Containerization</li><li>Cloud Computing</li><li>Ecommerce Solutions</li><li>Content Management Systems</li>
                                        </div>
                                </div>
                                <!-- feature three end -->

                        </div><!-- row end -->
                </div><!-- container end -->
        </div><!-- section feature end -->
   {{>portfolio}}
   {{>member}}
</div>
