<!-- Intro Area
        ===================================== -->

<div class="intro-body">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-8 col-md-offset-1 col-sm-12 col-xs-12 text-left">
                <h1 class="brand-heading-big font-montserrat fs-75 color-light animated" data-animation="fadeInUp"
                    data-animation-delay="100">
                    <strong>I <span class="alpha5 font-pacifico">am</span> Bresnow</strong>
                </h1>
                <p class="intro-text mt50 text-uppercase color-light mb50 animated" data-animation="fadeInUp"
                    data-animation-delay="200">
                    Interface Designer.<br><br>
                    <span class="text-capitalize bg-black">
                        I organize, plan, and creatively manipulate </br>
                        any surface where two objects or forces meet. </br>
                        Quite, given enough time and resources. </br>
                        The end result is usually the creation of </br>
                        <strong>digital products and identity assets.</strong>
                    </span>
                </p>
                <a class="button button-md button-gray animated" data-animation="fadeInUp"
                    data-animation-delay="700">Hire Me Now <i class="fa fa-user-plus ml10"></i></a>
            </div>
        </div>

        <div class="intro-direction">
            <a href="#welcome">
                <div class="mouse-icon">
                    <div class="wheel"></div>
                </div>
            </a>
        </div>

    </div>
</div>