<footer id="footer">
			<div class="max-container">
				<div class="f1">
				</div>
				<div class="f2 wow fadeInUp" data-wow-delay="0.6s">
					<!-- sub-nav -->
					<ul class="sub-nav">
						<li><a href="/about">About</a></li>
						{{!-- <li><a href="#">Customer Service</a></li> --}}
						{{!-- <li><a href="#">Terms &amp; Conditions</a></li> --}}
						{{!-- <li><a href="#">Privacy Policy</a></li> --}}
						{{!-- <li><a href="#">Site Map</a></li> --}}
						<li><a href="/contact">Contact</a></li>
					</ul>
					<span class="copyright">Copyright <a href="/">βτεsηΘω.Ðεsιɠη</a> &copy; <time datetime="{{date format=" YYYY"}}">{{date format="YYYY"}}</time>. All rights reserved.</span>
				</div>
			</div>
		</footer>