<footer id="footer">
			<div class="max-container">
				<div class="f1">
					{{!-- <div class="holder wow fadeInLeft" data-wow-delay="0.6s">
						<strong class="logo-footer">
							<a href="#">
								<i class="icon">#</i>
								<div class="img">
									<img alt="EAGLEEYES" src="images/logo-footer.svg">
								</div>
							</a>
						</strong>
						<!-- footer-txt -->
						<div class="footer-txt">
							<div class="text">
								<p>Excepteur sint occaecat cupidatat non proident, sunt in culpa  officia deserunt mollitid est laborum. Sed ut perspiciatis unde qui omnis iste natus error sit voluptatem.</p>
								<div class="contact">
									<address><span class="yellow">A :</span> No 40 Baria Sreet 133/2 NewYork City, <br>NY,  United States</address>
									<span class="email"><span class="yellow">E: </span><a href="mailto:&#105;&#110;&#102;&#111;&#046;&#099;&#111;&#110;&#116;&#097;&#099;&#116;&#064;&#103;&#109;&#097;&#105;&#108;&#046;&#099;&#111;&#109;">&#105;&#110;&#102;&#111;&#046;&#099;&#111;&#110;&#116;&#097;&#099;&#116;&#064;&#103;&#109;&#097;&#105;&#108;&#046;&#099;&#111;&#109;</a></span>
									<span class="tel"><span class="yellow">P: </span><a href="tel:00123456789">(00) 123 456 789</a></span>
								</div>
							</div>
							<ul class="testimonial">
								<li>
									<p><a href="#"><i class="icon-twitter"></i><span>@Leonard design</span></a> I am so happy because I found this EAGLEEYES, and it just made EAGLEEYES easier. Thanks so much for sharing</p>
								</li>
								<li>
									<p><a href="#"><i class="icon-twitter"></i><span>@Leonard design</span></a> I am so happy because I found this EAGLEEYES, and it just made EAGLEEYES easier. Thanks so much for sharing</p>
								</li>
								<li>
									<p><a href="#"><i class="icon-twitter"></i><span>@Leonard design</span></a> I am so happy because I found this EAGLEEYES, and it just made EAGLEEYES easier. Thanks so much for sharing</p>
								</li>
							</ul>
						</div>
					</div> --}}
					{{!-- <div class="frame wow fadeInRight" data-wow-delay="0.6s">
						<div class="wpcf7">
							<form action="inc/process.php" class="wpcf7-form f-contact-form" enctype="multipart/form-data">
								<h3>We will love to hear from you!</h3>
								<div class="rows">
									<span class="wpcf7-form-control-wrap text-field-required">
										<input type="text" name="text-field-required" value="" class="wpcf7-form-control wpcf7-text wpcf7-validates-as-required text-field-class wpcf7-use-title-as-watermark" size="12" placeholder="Name">
									</span>
								</div>
								<div class="rows">
									<span class="wpcf7-form-control-wrap Emailfield">
										<input type="email" name="Emailfield" value="" class="wpcf7-form-control wpcf7-text wpcf7-email wpcf7-validates-as-required wpcf7-validates-as-email email-class wpcf7-use-title-as-watermark" size="12" placeholder="Email" />
									</span>
								</div>
								<div class="rows">
									<span class="wpcf7-form-control-wrap textarea">
										<textarea name="textarea" class="wpcf7-form-control wpcf7-textarea textarea-class wpcf7-use-title-as-watermark" rows="9" cols="39" placeholder="Your Comment"></textarea>
									</span>
								</div>
								<input id="submit" type="submit" value="SEND MESSAGES">
							</form>
	                        <div class="done-massage">
	                            <strong>Thank you!</strong> We have received your message.
	                        </div>
						</div>
					</div> --}}
				</div>
				<div class="f2 wow fadeInUp" data-wow-delay="0.6s">
					<!-- sub-nav -->
					<ul class="sub-nav">
						<li><a href="#">About</a></li>
						<li><a href="#">Customer Service</a></li>
						<li><a href="#">Terms &amp; Conditions</a></li>
						<li><a href="#">Privacy Policy</a></li>
						<li><a href="#">Site Map</a></li>
						<li><a href="#">Contact</a></li>
					</ul>
					<span class="copyright">Copyright <a href="#">#EAGLEEYES</a> &copy; 2015. All rights reserved.</span>
				</div>
			</div>
		</footer>