<div id="wrapper">
    !-- info holder -->
    <div class="info-holder">
        <!-- info -->
        <div class="info">
            <div class="img-frame wow fadeInLeft" data-wow-delay="0.6s">
                <div class="text">
                    <span class="num">01</span>
                    <h2 class="tild">{{author}}</h2>
                    <div class="box">
                        <div class="box-inner">
                            <h3>Louis Frank</h3>
                            <p>Co-Founder at Eagleeyes</p>
                        </div>
                    </div>
                </div>

                <div class="image wow fadeInRight" data-wow-delay="0.6s"><img src="{{profile_image}}" alt="{{name}}">
                </div>
            </div>
            <div class="txt-frame wow fadeInUp" data-wow-delay="0.6s">
                <h3>About Us</h3>
                <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium dolorem laudanm, totam rem
                    aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt
                    explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed ttquia
                    consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui
                    dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi
                    tempora
                    incidunt ut labore et dolore magnam aliquam quaerat voluptatem.</p>
                <div class="signature">
                    <img src="images/img-03.jpg" alt="signature">
                </div>
            </div>
        </div>
        <!-- team info -->
        <div class="info team">
            <div class="txt-frame wow fadeInUp" data-wow-delay="0.6s">
                <ul class="text-box team1">
                    <li>
                        <h2><a href="#">Kawhi Leonard</a></h2>
                        <span>Creative Director</span>
                        <ul class="social-networks">
                            <li><a class="facebook" href="#"><i class="icon-facebook"></i><span>facebook</span></a></li>
                            <li><a class="twitter" href="#"><i class="icon-twitter"></i><span>twitter</span></a></li>
                            <li><a class="gplus" href="#"><i class="icon-gplus"></i><span>gplus</span></a></li>
                            <li><a class="pinterest-circled" href="#"><i
                                        class="icon-pinterest-circled"></i><span>pinterest-circled</span></a></li>
                        </ul>
                    </li>
                    <li>
                        <p>We tend to think of Steam as tools for content developers and tools for producers. We're just
                            always thinking.</p>
                    </li>
                </ul>
                <ul class="text-box team2">
                    <li>
                        <h2><a href="#">Sammy Filton</a></h2>
                        <span>Stylelist</span>
                        <ul class="social-networks">
                            <li><a class="facebook" href="#"><i class="icon-facebook"></i><span>facebook</span></a></li>
                            <li><a class="twitter" href="#"><i class="icon-twitter"></i><span>twitter</span></a></li>
                            <li><a class="gplus" href="#"><i class="icon-gplus"></i><span>gplus</span></a></li>
                            <li><a class="pinterest-circled" href="#"><i
                                        class="icon-pinterest-circled"></i><span>pinterest-circled</span></a></li>
                        </ul>
                    </li>
                    <li>
                        <p>We tend to think of Steam as tools for content developers and tools for producers. We're just
                            always thinking.</p>
                    </li>
                </ul>
                <ul class="text-box team3">
                    <li>
                        <h2><a href="#">Sandra Jackson</a></h2>
                        <span>art derector</span>
                        <ul class="social-networks">
                            <li><a class="facebook" href="#"><i class="icon-facebook"></i><span>facebook</span></a></li>
                            <li><a class="twitter" href="#"><i class="icon-twitter"></i><span>twitter</span></a></li>
                            <li><a class="gplus" href="#"><i class="icon-gplus"></i><span>gplus</span></a></li>
                            <li><a class="pinterest-circled" href="#"><i
                                        class="icon-pinterest-circled"></i><span>pinterest-circled</span></a></li>
                        </ul>
                    </li>
                    <li>
                        <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque
                            laudanm,
                            totam rem aperiam, eaque.</p>
                    </li>
                </ul>
                <div class="img-holder wow fadeInUp" data-wow-delay="0.5s">
                    <div class="box box1">
                        <div class="img"><a href="#" class="team1-opener"><img src="http://placehold.it/370x465"
                                    alt="image description"></a></div>
                        <div class="txt-box">
                            <h3><a href="#" class="team1-opener">Kawhi Leonard</a></h3>
                            <span class="designation">Creative Director</span>
                        </div>
                    </div>
                    <div class="box box2">
                        <div class="img"><a href="#" class="team2-opener"><img src="http://placehold.it/370x465"
                                    alt="image description"></a></div>
                        <div class="txt-box">
                            <h3><a href="#" class="team2-opener">Sammy Filton</a></h3>
                            <span class="designation">Stylelist</span>
                        </div>
                    </div>
                    <div class="box box3">
                        <div class="img"><a href="#" class="team3-opener"><img src="http://placehold.it/370x465"
                                    alt="image description"></a></div>
                        <div class="txt-box">
                            <h3><a href="#" class="team3-opener">Sandra Jackson</a></h3>
                            <span class="designation">art derector</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="img-frame">
                <div class="image wow fadeInRight" data-wow-delay="0.6s"><a href="#">
                        <img src="http://placehold.it/570x715" alt="image description" class="team1-img">
                        <img src="http://placehold.it/570x715" alt="image description" class="team2-img">
                        <img src="http://placehold.it/570x715" alt="image description" class="team3-img">
                    </a></div>
                <div class="text wow fadeInRight" data-wow-delay="0.3s">
                    <h2 class="tild">OUR TEAMS</h2>
                    <span class="num">02</span>
                    <a href="#" class="more">view all</a>
                </div>
            </div>
        </div>
        <!-- work info -->
        <div class="info work">
            <div class="txt-frame wow fadeInLeft" data-wow-delay="0.6s">
                <h2 class="tild">OUR WORKS</h2>
                <span class="num">03</span>
                <ul class="filter">
                    <li class="active"><a href="#">All</a></li>
                    <li><a href="#" data-filter=".work-p">Photography</a></li>
                    <li><a href="#" data-filter=".work-b">Branding</a></li>
                    <li><a href="#" data-filter=".work-w">Web Design</a></li>
                    <li><a href="#" data-filter=".work-m">Motion Graphic</a></li>
                    <li><a href="#" data-filter=".work-i">Illustration</a></li>
                </ul>
                <a href="#" class="more">view all</a>
            </div>
            <div class="img-frame">
                <div class="img-area" id="masonry-container">
                    <div class="item work-i work-w wow fadeInUp" data-wow-delay="0.6s">
                        <img src="http://placehold.it/390x292" alt="image description">
                        <div class="caption">
                            <div class="c1">
                                <div class="c2">
                                    <strong class="title">Amber Bottle</strong>
                                    <p>Branding Identity</p>
                                    <ul class="icons">
                                        <li><a href="images/img1.jpg" class="lightbox"><i
                                                    class="icon-resize-full-alt"></i>
                                                <span>resize</span></a></li>
                                        <li><a href="#"><i class="icon-attach"></i> <span>attach</span></a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="item work-m work-p wow fadeInUp" data-wow-delay="0.6s">
                        <img src="http://placehold.it/390x292" alt="image description">
                        <div class="caption">
                            <div class="c1">
                                <div class="c2">
                                    <strong class="title">Amber Bottle</strong>
                                    <p>Branding Identity</p>
                                    <ul class="icons">
                                        <li><a href="images/img1.jpg" class="lightbox"><i
                                                    class="icon-resize-full-alt"></i>
                                                <span>resize</span></a></li>
                                        <li><a href="#"><i class="icon-attach"></i> <span>attach</span></a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="item work-i work-b wow fadeInUp" data-wow-delay="0.6s">
                        <img src="http://placehold.it/390x583" alt="image description">
                        <div class="caption">
                            <div class="c1">
                                <div class="c2">
                                    <strong class="title">Amber Bottle</strong>
                                    <p>Branding Identity</p>
                                    <ul class="icons">
                                        <li><a href="images/img1.jpg" class="lightbox"><i
                                                    class="icon-resize-full-alt"></i>
                                                <span>resize</span></a></li>
                                        <li><a href="#"><i class="icon-attach"></i> <span>attach</span></a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="item add work-w work-p wow fadeInUp" data-wow-delay="0.6s">
                        <img src="http://placehold.it/780x291" alt="image description">
                        <div class="caption">
                            <div class="c1">
                                <div class="c2">
                                    <strong class="title">Amber Bottle</strong>
                                    <p>Branding Identity</p>
                                    <ul class="icons">
                                        <li><a href="images/img1.jpg" class="lightbox"><i
                                                    class="icon-resize-full-alt"></i>
                                                <span>resize</span></a></li>
                                        <li><a href="#"><i class="icon-attach"></i> <span>attach</span></a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="item work-i work-b wow fadeInUp" data-wow-delay="0.6s">
                        <img src="http://placehold.it/390x292" alt="image description">
                        <div class="caption">
                            <div class="c1">
                                <div class="c2">
                                    <strong class="title">Amber Bottle</strong>
                                    <p>Branding Identity</p>
                                    <ul class="icons">
                                        <li><a href="images/img1.jpg" class="lightbox"><i
                                                    class="icon-resize-full-alt"></i>
                                                <span>resize</span></a></li>
                                        <li><a href="#"><i class="icon-attach"></i> <span>attach</span></a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="item add work-m work-p wow fadeInUp" data-wow-delay="0.6s">
                        <img src="http://placehold.it/780x292" alt="image description">
                        <div class="caption">
                            <div class="c1">
                                <div class="c2">
                                    <strong class="title">Amber Bottle</strong>
                                    <p>Branding Identity</p>
                                    <ul class="icons">
                                        <li><a href="images/img1.jpg" class="lightbox"><i
                                                    class="icon-resize-full-alt"></i>
                                                <span>resize</span></a></li>
                                        <li><a href="#"><i class="icon-attach"></i> <span>attach</span></a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- service info -->
        <div class="info service-area">
            <div class="txt-frame">
                <ul class="services">
                    <li class="wow fadeInUp" data-wow-delay="0.6s">
                        <h3>
                            <i class="icons-ico-01"></i>
                            <span>HANDICRAFTS</span>
                        </h3>
                        <p>Phasellus ut condimentum diam, eget tempus lorem. Morbi bibendum est quis arcu posuere
                            condimentum. Nullam justo eros.</p>
                    </li>
                    <li class="wow fadeInUp" data-wow-delay="0.6s">
                        <h3>
                            <i class="icons-ico-02"></i>
                            <span>BRANDING DESIGN</span>
                        </h3>
                        <p>Phasellus ut condimentum diam, eget tempus lorem. Morbi bibendum est quis arcu posuere
                            condimentum. Nullam justo eros.</p>
                    </li>
                    <li class="wow fadeInUp" data-wow-delay="0.6s">
                        <h3>
                            <i class="icons-ico-03"></i>
                            <span>DIGITAL GRAPHICS</span>
                        </h3>
                        <p>Phasellus ut condimentum diam, eget tempus lorem. Morbi bibendum est quis arcu posuere
                            condimentum. Nullam justo eros.</p>
                    </li>
                    <li class="wow fadeInUp" data-wow-delay="0.6s">
                        <h3>
                            <i class="icons-ico-04"></i>
                            <span>MARKETING</span>
                        </h3>
                        <p>Phasellus ut condimentum diam, eget tempus lorem. Morbi bibendum est quis arcu posuere
                            condimentum. Nullam justo eros.</p>
                    </li>
                    <li class="wow fadeInUp" data-wow-delay="0.6s">
                        <h3>
                            <i class="icons-ico-05"></i>
                            <span>COFFEE &amp; RESTAURANT</span>
                        </h3>
                        <p>Phasellus ut condimentum diam, eget tempus lorem. Morbi bibendum est quis arcu posuere
                            condimentum. Nullam justo eros.</p>
                    </li>
                    <li class="wow fadeInUp" data-wow-delay="0.6s">
                        <h3>
                            <i class="icons-ico-06"></i>
                            <span>FURNITURE DESIGN</span>
                        </h3>
                        <p>Phasellus ut condimentum diam, eget tempus lorem. Morbi bibendum est quis arcu posuere
                            condimentum. Nullam justo eros.</p>
                    </li>
                    <li class="wow fadeInUp" data-wow-delay="0.6s">
                        <h3>
                            <i class="icons-ico-07"></i>
                            <span>awesome support</span>
                        </h3>
                        <p>Phasellus ut condimentum diam, eget tempus lorem. Morbi bibendum est quis arcu posuere
                            condimentum. Nullam justo eros.</p>
                    </li>
                    <li class="wow fadeInUp" data-wow-delay="0.6s">
                        <h3>
                            <i class="icons-ico-08"></i>
                            <span>easy to customize</span>
                        </h3>
                        <p>Phasellus ut condimentum diam, eget tempus lorem. Morbi bibendum est quis arcu posuere
                            condimentum. Nullam justo eros.</p>
                    </li>
                    <li class="wow fadeInUp" data-wow-delay="0.6s">
                        <h3>
                            <i class="icons-ico-09"></i>
                            <span>PROTECT SOLUTIONS</span>
                        </h3>
                        <p>Phasellus ut condimentum diam, eget tempus lorem. Morbi bibendum est quis arcu posuere
                            condimentum. Nullam justo eros.</p>
                    </li>
                </ul>
            </div>
            <div class="img-frame wow fadeInRight" data-wow-delay="0.6s">
                <h2 class="tild">OUR SERVICES</h2>
                <span class="num">04</span>
                <a href="#" class="more">order services</a>
            </div>
        </div>
        <!-- testimonial info -->
        <div class="info testimonial">
            <div class="txt-frame wow fadeInLeft" data-wow-delay="0.6s">
                <h2 class="tild">TESTIMONIALS</h2>
                <span class="num">05</span>
                <a href="#" class="more">view all</a>
            </div>
            <div class="img-frame wow fadeInUp" data-wow-delay="0.6s">
                <div class="slider">
                    <div class="mask">
                        <div class="slide">
                            <blockquote>
                                <q>“I am so happy because I found this Eagleeyes, and it just made my life easier.
                                    Thanks so
                                    much for sharing”</q>
                                <cite>
                                    <span class="heading4">Kawhi Leonard</span>
                                    <span class="designation">Creative Director</span>
                                </cite>
                            </blockquote>
                            <div class="images">
                                <img src="http://placehold.it/470x617" alt="image description">
                            </div>
                        </div>
                        <div class="slide">
                            <blockquote>
                                <q>“I am so happy because I found this Eagleeyes, and it just made my life easier.
                                    Thanks so
                                    much for sharing”</q>
                                <cite>
                                    <span class="heading4">Umair Rafi</span>
                                    <span class="designation">Creative Developer</span>
                                </cite>
                            </blockquote>
                            <div class="images">
                                <img src="http://placehold.it/470x617" alt="image description">
                            </div>
                        </div>
                        <div class="slide">
                            <blockquote>
                                <q>“I am so happy because I found this Eagleeyes, and it just made my life easier.
                                    Thanks so
                                    much for sharing”</q>
                                <cite>
                                    <span class="heading4">Leo Alpha</span>
                                    <span class="designation">Ui/UX Director</span>
                                </cite>
                            </blockquote>
                            <div class="images">
                                <img src="http://placehold.it/470x617" alt="image description">
                            </div>
                        </div>
                    </div>
                    <div class="pagination">
                        <ul class="mask-inner">
                            <li>
                                <a href="#"><img src="http://placehold.it/470x617" alt="image description"></a>
                            </li>
                            <li>
                                <a href="#"><img src="http://placehold.it/470x617" alt="image description"></a>
                            </li>
                            <li class="active">
                                <a href="#"><img src="http://placehold.it/470x617" alt="image description"></a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <!-- blogs info -->
        <div class="info blogs">
            <div class="img-frame">
                <div class="txt-holder wow fadeInUp" data-wow-delay="0.6s">
                    <div class="images">
                        <img src="http://placehold.it/511x438" alt="image description">
                        <span class="sub-caption">by Leonard, 1 week ago</span>
                    </div>
                    <div class="txts">
                        <div class="txt-box">
                            <h3>We Do The Best Design</h3>
                            <p>Excepteur sint occaecat cupidatat non proident, sunt in culpa officia deserunt mollitid
                                est
                                laborum. Sed ut perspiciatis unde qui omnis iste natus error sit voluptatem.</p>
                            <a href="#" class="continue"><span>CONTINUE</span> <i class="icon-right-thin"></i></a>
                        </div>
                    </div>
                </div>
                <div class="txt-holder right wow fadeInUp" data-wow-delay="0.6s">
                    <div class="txts">
                        <div class="txt-box">
                            <h3>Friendly For All Devices</h3>
                            <p>Excepteur sint occaecat cupidatat non proident, sunt in culpa officia deserunt mollitid
                                est
                                laborum. Sed ut perspiciatis unde qui omnis iste natus error sit voluptatem.</p>
                            <a href="#" class="continue"><span>CONTINUE</span> <i class="icon-right-thin"></i></a>
                        </div>
                    </div>
                    <div class="images">
                        <span class="sub-caption">by Leonard, 1 week ago</span>
                        <img src="http://placehold.it/511x438" alt="image description">
                    </div>
                </div>
            </div>
            <div class="txt-frame wow fadeInRight" data-wow-delay="0.6s">
                <h2 class="tild">OUR BLOGS</h2>
                <span class="num">06</span>
                <a href="#" class="more">view all</a>
            </div>
        </div>
        <!-- price info -->
        <div class="info price">
            <div class="img-frame wow fadeInLeft" data-wow-delay="0.6s">
                <h2 class="tild">PRICING</h2>
                <span class="num">07</span>
                <a href="#" class="more">view all</a>
            </div>
            <div class="txt-frame">
                <ul class="pricing">
                    <li class="wow fadeInUp" data-wow-delay="0.6s">
                        <div class="icon">
                            <div class="ico-text">
                                <div class="ico-box">
                                    <span class="price"><sup>$</sup>135</span>
                                    <span class="month">/month</span>
                                </div>
                            </div>
                        </div>
                        <strong class="package">BASIC</strong>
                        <ul class="list">
                            <li>Lorem Ipsum</li>
                            <li>Lorem Ipsum Dorel</li>
                            <li>Lorem Ipsum</li>
                            <li>Lorem Ipsum Dorel</li>
                            <li>Lorem Ipsum</li>
                        </ul>
                        <a href="#" class="plan">SELECT PLAN</a>
                    </li>
                    <li class="wow fadeInUp" data-wow-delay="0.8s">
                        <div class="icon">
                            <div class="ico-text">
                                <div class="ico-box">
                                    <span class="price"><sup>$</sup>165</span>
                                    <span class="month">/month</span>
                                </div>
                            </div>
                        </div>
                        <strong class="package">POPUlAR</strong>
                        <ul class="list">
                            <li>Lorem Ipsum</li>
                            <li>Lorem Ipsum Dorel</li>
                            <li>Lorem Ipsum</li>
                            <li>Lorem Ipsum Dorel</li>
                            <li>Lorem Ipsum</li>
                        </ul>
                        <a href="#" class="plan">SELECT PLAN</a>
                    </li>
                    <li class="wow fadeInUp" data-wow-delay="1s">
                        <div class="icon">
                            <div class="ico-text">
                                <div class="ico-box">
                                    <span class="price"><sup>$</sup>195</span>
                                    <span class="month">/month</span>
                                </div>
                            </div>
                        </div>
                        <strong class="package">primier</strong>
                        <ul class="list">
                            <li>Lorem Ipsum</li>
                            <li>Lorem Ipsum Dorel</li>
                            <li>Lorem Ipsum</li>
                            <li>Lorem Ipsum Dorel</li>
                            <li>Lorem Ipsum</li>
                        </ul>
                        <a href="#" class="plan">SELECT PLAN</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>