<div id="wrapper">
<header id="header" class="sticky-header">
    <div class="max-container">
        <!-- main site logo -->
        <strong class="logo">
            <a href="#">
                {{#if @site.logo}}
                <img src="{{@site.logo}}" alt="{{@site.title}}" />
                {{else}}
                {{@site.title}}
                {{/if}}
            </a>
        </strong>
        <!-- align-right -->
        <div class="align-right">
            <nav class="navbar navbar-default">
               
                <div class="container-fluid">
                    <!-- Brand and toggle get grouped for better mobile display -->
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                            data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                    </div>
                
                    <!-- Collect the nav links, forms, and other content for toggling -->
             
                    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                        
                        <ul class="nav navbar-nav">
                            <li class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button"
                                    aria-haspopup="true" aria-expanded="false">home <span class="caret"></span></a>
                                <ul class="dropdown-menu">
                                    <li><a href="index.html">Home 1</a></li>
                                    <li><a href="index2.html">One Page</a></li>
                                </ul>
                            </li>
                            <li class="dropdown">
                                <a href="portfolio.html" class="dropdown-toggle" data-toggle="dropdown" role="button"
                                    aria-haspopup="true" aria-expanded="false">portfolio <span class="caret"></span></a>
                                <ul class="dropdown-menu">
                                    <li><a href="portfolio.html">Portfolio Free Style</a></li>
                                    <li><a href="portfolio-grid.html">Portfolio 1 Column</a></li>
                                    <li><a href="portfolio-2grid.html">Portfolio 2 Column</a></li>
                                    <li><a href="portfolio-3grid.html">Portfolio 3 Column</a></li>
                                    <li><a href="portfolio-detail.html">Portfolio Detail</a></li>
                                </ul>
                            </li>
                            <li class="dropdown">
                                <a href="blog.html" class="dropdown-toggle" data-toggle="dropdown" role="button"
                                    aria-haspopup="true" aria-expanded="false">blog <span class="caret"></span></a>
                                <ul class="dropdown-menu">
                                    <li>
                                        <a href="blog.html">Blog Style1</a>
                                        <ul class="drop">
                                            <li><a href="blog.html">Blog Sidebar</a></li>
                                            <li><a href="blog-left-sidebar.html">Blog Left Sidebar</a></li>
                                            <li><a href="blog-right-sidebar.html">Blog Right Sidebar</a></li>
                                        </ul>
                                    </li>
                                    <li>
                                        <a href="blog2.html">Blog Style2</a>
                                        <ul class="drop">
                                            <li><a href="blog2.html">Blog Sidebar</a></li>
                                            <li><a href="blog2-left-sidebar.html">Blog Left Sidebar</a></li>
                                            <li><a href="blog2-right-sidebar.html">Blog Right Sidebar</a></li>
                                        </ul>
                                    </li>
                                    <li>
                                        <a href="blog3.html">Blog Style3</a>
                                        <ul class="drop">
                                            <li><a href="blog3-left-sidebar.html">Blog Sidebar</a></li>
                                            <li><a href="blog3-left-sidebar.html">Blog Left Sidebar</a></li>
                                            <li><a href="blog3-right-sidebar.html">Blog Right Sidebar</a></li>
                                        </ul>
                                    </li>
                                    <li>
                                        <a href="blog-detail.html">Blog Detail</a>
                                        <ul class="drop">
                                            <li><a href="blog-detail.html">Blog Detail</a></li>
                                            <li><a href="blog3-left-sidebar.html">Blog Left Sidebar</a></li>
                                            <li><a href="blog3-right-sidebar.html">Blog Right Sidebar</a></li>
                                        </ul>
                                    </li>
                                    <li><a href="blog.html">Blog Link 3</a></li>
                                    <li><a href="blog.html">Blog Link 4</a></li>
                                </ul>
                            </li>
                            <li class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button"
                                    aria-haspopup="true" aria-expanded="false">Page <span class="caret"></span></a>
                                <ul class="dropdown-menu">
                                    <li><a href="aboutus.html">About Me</a></li>
                                    <li><a href="contact.html">Contact Us</a></li>
                                    <li><a href="contact2.html">Contact Us 2</a></li>
                                    <li><a href="shortcodes.html">Short Codes</a></li>
                                    <li><a href="shortcodes2.html">Short Codes 2</a></li>
                                    <li><a href="shortcodes3.html">Short Codes 3</a></li>
                                    <li><a href="shortcodes4.html">Short Codes 4</a></li>
                                </ul>
                            </li>
                            <li><a href="shortcodes.html">elements</a></li>
                            <li><a href="contact.html">Contact</a></li>
                        </ul>
                    </div><!-- /.navbar-collapse -->
                </div><!-- /.container-fluid -->
            </nav>
            <div class="search-area">
                <div class="search-box">
                    <a class="search" href="#"><i class="icon-search"><span>search</span></i></a>
                    <input type="search" placeholder="Search">
                </div>
                <a href="#" class="mail"><i class="icon-mail"><span>mail</span></i></a>
            </div>
        </div>
    </div>
</header>
</div>