<div class="visual">
	<div class="max-container">
		<div class="slideshow" id="main-slider">
			<div class="slide">
				<div class="caption">
					<div class="text">
						<span class="txt">{{custom_excerpt}}</span>
						<h1><span class="icon">#</span><span class="light">Design</span> <span
								class="add">Develop</span> <span class="add2">DISTRIBUTE</span></h1>
					</div>
				</div>
				<div class="image">
					{{#if feature_image}}
					<img src="{{feature_image}}" alt="{{title}}" width="20%" />
					{{/if}}
				</div>
				<span class="box"></span>
				<ul class="social-networks">
					<li><a class="facebook" href="#"><i class="icon-facebook"></i><span
								class="hidden">facebook</span></a></li>
					<li><a class="twitter" href="#"><i class="icon-twitter"></i><span class="hidden">twitter</span></a>
					</li>
					<li><a class="gplus" href="#"><i class="icon-gplus"></i><span class="hidden">gplus</span></a></li>
					<li><a class="pinterest-circled" href="#"><i class="icon-pinterest-circled"></i><span
								class="hidden">pinterest-circled</span></a></li>
				</ul>
			</div>
		</div>
	</div>
</div>
{{!-- <div class="slide">
	<div class="caption">
		<div class="text">
			<span class="txt">WE LOVE TO</span>
			<h1><span class="icon">#</span><span class="light">UNIQUE</span> <span class="add">creative</span> <span
					class="add2">PASSION</span></h1>
		</div>
	</div>
	<div class="image">
		<img src="http://placehold.it/970x875" alt="image description">
	</div>
	<span class="box"></span>
	<ul class="social-networks">
		<li><a class="facebook" href="#"><i class="icon-facebook"></i><span class="hidden">facebook</span></a></li>
		<li><a class="twitter" href="#"><i class="icon-twitter"></i><span class="hidden">twitter</span></a></li>
		<li><a class="gplus" href="#"><i class="icon-gplus"></i><span class="hidden">gplus</span></a></li>
		<li><a class="pinterest-circled" href="#"><i class="icon-pinterest-circled"></i><span
					class="hidden">pinterest-circled</span></a></li>
	</ul>
</div>
<div class="slide">
	<div class="caption">
		<div class="text">
			<span class="txt">WE LOVE TO</span>
			<h1><span class="icon">#</span><span class="light">UNIQUE</span> <span class="add">creative</span> <span
					class="add2">PASSION</span></h1>
		</div>
	</div>
	<div class="image">
		<img src="http://placehold.it/970x875" alt="image description">
	</div>
	<span class="box"></span>
	<ul class="social-networks">
		<li><a class="facebook" href="#"><i class="icon-facebook"></i><span class="hidden">facebook</span></a></li>
		<li><a class="twitter" href="#"><i class="icon-twitter"></i><span class="hidden">twitter</span></a></li>
		<li><a class="gplus" href="#"><i class="icon-gplus"></i><span class="hidden">gplus</span></a></li>
		<li><a class="pinterest-circled" href="#"><i class="icon-pinterest-circled"></i><span
					class="hidden">pinterest-circled</span></a></li>
	</ul>
</div> --}}
