<div class="info team">
    <div class="txt-frame wow fadeInUp" data-wow-delay="0.6s">
        <ul class="text-box team1">
            <li>
                <h2><a href="#">Kawhi Leonard</a></h2>
                <span>Creative Director</span>
                <ul class="social-networks">
                    <li><a class="facebook" href="#"><i class="icon-facebook"></i><span>facebook</span></a></li>
                    <li><a class="twitter" href="#"><i class="icon-twitter"></i><span>twitter</span></a></li>
                    <li><a class="gplus" href="#"><i class="icon-gplus"></i><span>gplus</span></a></li>
                    <li><a class="pinterest-circled" href="#"><i
                                class="icon-pinterest-circled"></i><span>pinterest-circled</span></a></li>
                </ul>
            </li>
            <li>
                <p>We tend to think of Steam as tools for content developers and tools for producers. We're just
                    always thinking.</p>
            </li>
        </ul>
        <ul class="text-box team2">
            <li>
                <h2><a href="#">Sammy Filton</a></h2>
                <span>Stylelist</span>
                <ul class="social-networks">
                    <li><a class="facebook" href="#"><i class="icon-facebook"></i><span>facebook</span></a></li>
                    <li><a class="twitter" href="#"><i class="icon-twitter"></i><span>twitter</span></a></li>
                    <li><a class="gplus" href="#"><i class="icon-gplus"></i><span>gplus</span></a></li>
                    <li><a class="pinterest-circled" href="#"><i
                                class="icon-pinterest-circled"></i><span>pinterest-circled</span></a></li>
                </ul>
            </li>
            <li>
                <p>We tend to think of Steam as tools for content developers and tools for producers. We're just
                    always thinking.</p>
            </li>
        </ul>
        <ul class="text-box team3">
            <li>
                <h2><a href="#">Sandra Jackson</a></h2>
                <span>art derector</span>
                <ul class="social-networks">
                    <li><a class="facebook" href="#"><i class="icon-facebook"></i><span>facebook</span></a></li>
                    <li><a class="twitter" href="#"><i class="icon-twitter"></i><span>twitter</span></a></li>
                    <li><a class="gplus" href="#"><i class="icon-gplus"></i><span>gplus</span></a></li>
                    <li><a class="pinterest-circled" href="#"><i
                                class="icon-pinterest-circled"></i><span>pinterest-circled</span></a></li>
                </ul>
            </li>
            <li>
                <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque
                    laudanm,
                    totam rem aperiam, eaque.</p>
            </li>
        </ul>
        <div class="img-holder wow fadeInUp" data-wow-delay="0.5s">
            <div class="box box1">
                <div class="img"><a href="#" class="team1-opener"><img src="http://placehold.it/370x465"
                            alt="image description"></a></div>
                <div class="txt-box">
                    <h3><a href="#" class="team1-opener">Kawhi Leonard</a></h3>
                    <span class="designation">Creative Director</span>
                </div>
            </div>
            <div class="box box2">
                <div class="img"><a href="#" class="team2-opener"><img src="http://placehold.it/370x465"
                            alt="image description"></a></div>
                <div class="txt-box">
                    <h3><a href="#" class="team2-opener">Sammy Filton</a></h3>
                    <span class="designation">Stylelist</span>
                </div>
            </div>
            <div class="box box3">
                <div class="img"><a href="#" class="team3-opener"><img src="http://placehold.it/370x465"
                            alt="image description"></a></div>
                <div class="txt-box">
                    <h3><a href="#" class="team3-opener">Sandra Jackson</a></h3>
                    <span class="designation">art derector</span>
                </div>
            </div>
        </div>
    </div>
    <div class="img-frame">
        <div class="image wow fadeInRight" data-wow-delay="0.6s"><a href="#">
                <img src="http://placehold.it/570x715" alt="image description" class="team1-img">
                <img src="http://placehold.it/570x715" alt="image description" class="team2-img">
                <img src="http://placehold.it/570x715" alt="image description" class="team3-img">
            </a></div>
        <div class="text wow fadeInRight" data-wow-delay="0.3s">
            <h2 class="tild">OUR TEAMS</h2>
            <span class="num">02</span>
            <a href="#" class="more">view all</a>
        </div>
    </div>
</div>