{{!< default}}

<div class="gh-page">
    <header class="intro pt75 pb100" style="background: url('{{asset "img/bg/img-bg-40.jpg"}}') no-repeat 100% 0 #000;">
        {{>intro}}
    </header>
   {{>portfolio}}
   {{>member}}
</div>
