<!-- Intro Area
        ===================================== -->
<header class="intro pb100"
    style="background:url({{@site.cover_image}}) 95% 100% no-repeat #0000; background-size: cover; background-attachment:fixed;">
    <div class="intro-body">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-8 col-md-offset-1 col-sm-12 col-xs-12 text-left">
                    <h1 class="brand-heading-big font-montserrat fs-75 color-light animated" data-animation="fadeInUp"
                        data-animation-delay="100">
                        <strong>I <span class="alpha5 font-pacifico">am</span> Bresnow</strong>
                    </h1>
                    <H class="intro-text mt50 text-uppercase color-light mb50 animated" data-animation="fadeInUp"
                        data-animation-delay="200">
                        Interface Designer.<br><br>
                        <span class="color-white p10">
                            I organize, plan, and creatively manipulate </br>
                            any surface where two objects or forces meet. </br>
                            Quite, given enough time and resources. </br>
                            The end result is usually the creation of </br>
                            <strong class="color-blue">digital products and identity assets.</strong>
                        </span>
                    </p>
                    {{!-- <a href="/bresnow" id="buttonHire" class="button button-md button-grad-mojito hover-ripple-out mt10 ml30 mr10 pull-left">View
                        Curriculum Vitae</a>
                    <a href="/clients" id="buttonHire"
                        class="button button-md button-grad-stellar hover-ripple-out mt10 ml30 mr10 pull-left">Hire
                        Me Now </a> --}}
                </div>
            </div>

            <div class="intro-direction">
                <a href="#welcome">
                    <div class="mouse-icon">
                        <div class="wheel"></div>
                    </div>
                </a>
            </div>

        </div>
    </div>
</header>