<!-- Price Area
        ===================================== -->
<div id="price" class="bg-gray pt75 pb75">
    <div class="container text-center">
        <div class="row ml30">
            <div class="col-md-8 col-md-offset-2 text-center mb50">
                <h3 class="text-center">
                    Support Independent Creatives!
                    <small class="heading-desc text-lowercase">
                        Unlock full access to {{@site.title}} and see the entire library of members-only content & updates
                    </small>
                    <small class="heading heading-solid center-block"> </small>
                </h3>
            </div>
        </div>

        <div class="row">
                    <div class="p10 col-md-4 col-sm-6 col-xs-12 animated" data-animation="pulse" data-animation-delay="700">
                        <div class="price price-four bg-light">
                            <div class="price-header">
                                <h4>Spectators</h4>
                                <span class="color-pink"><sup>$</sup>0<sup>/month</sup></span>
                            </div>
                            <div class="price-body">
                                <ul>
                                    <li>Project Updates</li>
                                    <li>Boost My Morale</li>
                                </ul>
                            </div>
                            <div class="price-footer">
                                <a href="/#/portal/signup/free" class="button button-sm button-rounded button-black hover-ripple-out">Order
                                    Now</a>
                            </div>
                        </div>
                    </div>
            <div class="p10 col-md-4 col-sm-6 col-xs-12 animated" data-animation="pulse" data-animation-delay="500">
                <div class="price price-four bg-light">
                    <div class="price-header">
                        <h4>Supporters</h4>
                        <span class="color-pink"><sup>$</sup>{{@price.monthly}}<sup>/month</sup></span>
                    </div>
                    <div class="price-body">
                        <ul>
                            <li>Early Access To Content</li>
                            <li>Product Discounts</li>
                            <li>High Priority Commissions</li>
                        </ul>
                    </div>
                    <div class="price-footer">
                        <a href="/#/portal/signup/monthly" class="button button-sm button-rounded button-grad-bora hover-ripple-out">Order Now</a>
                    </div>
                </div>
            </div>

            <div class="p10 col-md-4 col-sm-6 col-xs-12 animated" data-animation="pulse" data-animation-delay="1000">
                <div class="price price-four bg-light">
                    <div class="price-header">
                        <h4>Producers</h4>
                        <span class="color-pink"><sup>$</sup>{{@price.yearly}}<sup>/year</sup></span>
                    </div>
                    <div class="price-body">
                        <ul>
                            <li></li>
                            <li>Wordpress</li>
                        </ul>
                    </div>
                    <div class="price-footer">
                        <a href="/#/portal/signup/yearly" class="button button-sm button-rounded button-grad-blood-mary hover-ripple-out">Order Now</a>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>