<div class="social social-one">
    {{!-- <a href="{{facebook_url @site.facebook}}"><i class="fa fa-facebook color-gray"></i></a> --}}
    <a href="{{twitter_url @site.twitter}}"><i class="fa fa-twitter color-gray"></i></a>
    <a href="https://www.youtube.com/channel/UCovVelplVYB2snVPHVqP6zg"><i class="fa fa-youtube color-gray"></i></a>
    <a href="https://www.linkedin.com/in/stevedwilkerson"><i class="fa fa-linkedin color-gray"></i></a>

</div>